*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#000;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111;
    border-bottom:3px solid #39ff14;
}

.logo{
    font-size:2rem;
    font-weight:bold;
    color:#39ff14;
}

.logo span{
    color:#ff1493;
}

nav a{
    text-decoration:none;
    color:white;
    margin-left:25px;
    transition:.3s;
}

nav a:hover{
    color:#ff1493;
}

barra-pesquisa {
    width: 300px; /*largura */
    height: 40px;  /*altura */
    padding: 0 15px;

    border: 2px solid #ccc;
    border-radius: 55px; 

    font-size: 56px;
    outline: none;
}

barra-pesquisa:focus {
    border-color: #007bff;
}



#pesquisa {
    width: 400px;   /* largura */
    height: 40px;   /* altura */
    font-size: 16px;
    padding: 5px 10px;
}
